// Navigation Styles here

.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px 10px 10px;
    border-bottom: 2px dashed @navigation-border;
    a{
        
        text-decoration: none;
        color: black;
        font-size: 2em;
    }

}